.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
  position: relative;
  z-index: 1;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 6px 0 0 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  justify-content: center;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  position: absolute;
  padding-left: 0;
  z-index: 1;
  top: calc(100% + 4px);
  right: 0;
  background: var(--white-color);
  width: 160px;
  border-radius: 2px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  border: solid;
  border-width: 10px 12px;
  right: 20px;
  top: -20px;
  border-color: transparent transparent var(--white-color);
  z-index: 1;
}

.header__navbar-user-menu::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  width: 100%;
  height: 8px;
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 16px;
  display: block;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #eaeaea;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}

.header__navbar-item--no-pointer {
  color: var(--white-color);
  cursor: text;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__title-to-qr {
  margin: 0;
  padding: 4px 0;
  display: inline-block;
}

.header__title-to-qr:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9068;
  right: -9px;
  top: 50%;
  height: 16px;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  text-decoration: none;
  color: var(--white-color);
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

/* Header QR Code */
.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  padding: 8px;
  border-radius: 2px;
  display: none;
  cursor: default;
  animation: fadeIn ease-in 0.1s;
  z-index: 1;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}

.header__qr:hover + .header__title-to-qr {
  color: var(--white-color);
}

.header__qr::before {
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  top: -10px;
  content: "";
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 11px;
}

.header__qr-download-img {
  height: 15px;
}

/* Notification list */
.header__notify {
  position: absolute;
  width: 400px;
  right: 0;
  top: calc(100% + 10px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: default;
  animation: headerNotifyGrowthOut 0.15s ease-in-out forwards;
  transform-origin: calc(100% - 38px) top;
  z-index: 1;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.header__navbar-item--has-notify:hover .header__notify {
  animation: headerNotifyGrowthIn 0.15s ease-in-out;
}

.header__notify::before {
  content: "";
  border: solid;
  border-width: 10px 12px;
  right: 20px;
  top: -20px;
  border-color: transparent transparent var(--white-color);
  z-index: 1;
  position: absolute;
}

.header__notify::after {
  content: "";
  position: absolute;
  width: 84px;
  right: 0;
  top: -15px;
  height: 15px;
}

.header__notify-header {
  height: 40px;
  padding: 0 12px;
}

.header__notify-header h3 {
  color: #999;
  line-height: 40px;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
}

.header__notify-list {
  padding: 0;
  list-style: none;
}

.header__notify-item {
  padding: 8px 12px;
  background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-item:hover {
  background-color: #f8f8f8;
}

.header__notify-item--viewed {
  background-color: var(--white-color);
}

.header__notify-link {
  display: flex;
  text-decoration: none;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 8px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  margin-top: 8px;
}

.header__notify-footer {
  text-align: center;
}

.header__notify-footer-btn {
  width: 100%;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  display: block;
  font-size: 1.4rem;
  padding: 16px;
}

/* Authentication modal */
.auth-form {
  width: 500px;
  max-width: 100%;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 2rem;
  font-weight: 400;
  color: var(--black-color);
}

.auth-form__switch-btn {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #444;
}

.auth-form__aside {
  margin-top: 20px;
}

.auth-form__policy {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.auth-form__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 16px 36px;
  margin-top: 24px;
  gap: 12px;
  border-radius: 0 0 5px 5px;
}

.auth-form__socials--facebook,
.auth-form__socials--google {
  flex: 1;
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.auth-form__socials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
}

.auth-form__socials-icon {
  font-size: 1.8rem;
  color: var(--white-color);
}

.auth-form__socials-icon--google {
  color: #333;
}

.auth-form__socials-title {
  flex: 1;
  text-align: center;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 18px;
  border-left: 1px solid #eaeaea;
  margin: 0px 16px;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
  cursor: pointer;
}

.header__logo-img {
  width: 150px;
  fill: var(--white-color);
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__search {
  background-color: var(--white-color);
  height: 40px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__cart {
  width: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__cart-wrap {
  position: relative;
  padding: 8px;
  cursor: pointer;
}

.header__cart-icon {
  font-size: 2rem;
  color: var(--white-color);
}

.header__cart-list {
  position: absolute;
  width: 400px;
  background: var(--white-color);
  top: calc(100% + 12px);
  right: 0px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  animation: headerNotifyGrowthOut 0.15s ease-in forwards;
  transform-origin: calc(100% - 20px) top;
  cursor: default;
  display: block;
}

.header__cart-wrap:hover .header__cart-list {
  animation: headerNotifyGrowthIn 0.15s ease-in;
}

.header__cart-list--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 256px;
}

.header__cart-list::before {
  content: "";
  border: solid;
  border-width: 10px 12px;
  border-color: transparent transparent var(--white-color);
  position: absolute;
  top: -20px;
  right: 8px;
  cursor: pointer;
}

.header__cart-list::after {
  content: "";
  width: 80px;
  height: 24px;
  position: absolute;
  top: -24px;
  right: -8px;
  cursor: pointer;
}

.header__cart-list--empty .header__cart-empty-img {
  display: block;
}

.header__cart-empty-img {
  width: 180px;
  display: none;
}

.header__cart-badge {
  position: absolute;
  top: 0;
  right: -4px;
  padding: 1px 7px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 9999px;
  border: 1px solid var(--primary-color);
}

.header__cart-heading {
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  padding: 12px 12px;
  margin: 0;
}

.header__cart-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__cart-item {
  display: flex;
  padding: 10px 12px;
  justify-content: space-between;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-item-img {
  width: 42px;
  height: 42px;
  object-fit: contain;
  border: solid 1px #e8e8e8;
}

.header__cart-item-info {
  flex: 1;
  margin-left: 12px;
}

.header__cart-item-head {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-name {
  width: 200px;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header__cart-item-price-qty-wrap {
  text-align: right;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-multiply {
  font-size: 0.9rem;
  padding: 0 2px;
  color: #757575;
}

.header__cart-item-qty {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.header__cart-item-type {
  color: #666;
  font-size: 1.2rem;
  display: inline-block;
}

.header__cart-item-remove {
  color: var(--black-color);
  font-size: 1.3rem;
  display: inline-block;
  cursor: pointer;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
}

.header__cart-footer {
  background-color: #fdfdfd;
  text-align: right;
  padding: 12px;
}

.btn--view-cart {
  width: 124px;
  font-size: 1.4rem;
}

.btn--view-cart:hover {
  opacity: 0.9;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-select {
  border-left: solid 1px #ccc;
  padding-left: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.2rem;
  color: #4a4a4a;
  margin: 0 16px;
}

.header__search-btn {
  width: 60px;
}

.header__search-btn:hover {
  opacity: 0.9;
}

.header__search-btn-icon {
  font-size: 1.4rem;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option {
  list-style: none;
  position: absolute;
  background-color: var(--white-color);
  top: calc(100% + 16px);
  right: 0;
  width: 152px;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__search-option::before {
  content: "";
  position: absolute;
  height: 16px;
  margin-top: -16px;
  width: 100%;
}

.header__search-option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px 16px 16px;
  border-radius: 2px;
  font-size: 1.4rem;
}

.header__search-option-item:hover {
  background-color: #fbfbfb;
}

i.header__search-option-check {
  color: var(--primary-color);
  display: none;
  font-size: 1.4rem;
}

.header__search-option-check--active {
  display: inline-block !important;
}

/* Search history */
.header__search-input:focus + .header__search-history {
  display: block;
}

.header__search-history {
  position: absolute;
  top: calc(100% + 4px);
  width: calc(100% - 16px);
  left: 0;
  background-color: var(--white-color);
  font-size: 1.4rem;
  box-shadow: 0 1px 5px #aaa;
  border-radius: 2px;
  overflow: hidden;
  display: none;
}

.header__search-history-heading {
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  padding: 12px;
  margin: 0;
}

.header__search-history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__search-history-item a {
  display: block;
  text-decoration: none;
  padding: 12px;
  width: 100%;
  color: var(--text-color);
}

.header__search-history-item:hover {
  background-color: #fbfbfb;
}

/* App Container */
.app__container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 8px;
}

.category-list {
  padding: 0 0 8px 0;
  list-style-type: none;
  margin-left: 10px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary-color);
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.category-item__link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 4px 16px;
  display: block;
  transition: right linear 0.1s;
  right: 0;
}

.category-item__link:hover {
  color: var(--primary-color);
  right: -4px;
}

/* Home sort + filter */

.home-filter {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}

.home-filter__btn {
  min-width: 90px;
  margin-right: 12px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 68px;
  height: 34px;
}

.home-filter__page-btn {
  flex: 1;
  display: flex;
  margin: 0;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}

.home-filter__page-btn--disabled {
  cursor: default;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.2rem;
  color: #555;
}

/* Product item */
.home-product-item {
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-bottom: 8px;
}

.home-product-item__img {
  aspect-ratio: 1;
  max-width: 100%;
}

.home-product-item__name {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 10px 10px 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.home-product-item__price {
  margin: 0 10px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 4px;
}

.home-product-item__price span span {
  font-size: 1.2rem;
}

.home-product-item__price--old {
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}
.home-product-item__price--current {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 8px 10px;
  gap: 6px;
}

.home-product-item__like {
  font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
  color: #f63d30;
  display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__rating {
  font-size: 0.9rem;
  color: #d5d5d5;
  margin-left: auto;
}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  color: #595959;
  font-weight: 300;
  font-size: 1.2rem;
}

.home-product-item__brand {
}
.home-product-item__origin-name {
}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border-top: 4px solid currentColor;
  border-left: 4px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favourite i {
  font-size: 0.9rem;
  margin: 0 2px 0 4px;
  color: var(--white-color);
}

.home-product-item__favourite-text {
  color: var(--white-color);
}

.home-product-item__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.9);
  text-align: center;
  padding-top: 2px;
}

.home-product-item__sale-off-percent {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: solid;
  border-width: 0 20px 4px;
  border-color: transparent rgba(255, 216, 64, 0.9);
}
